{% extends "default/layout.twig" %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}?v=4">
<link rel="stylesheet" href="{{ asset('assets/css/crud.css') }}">
{% endblock %}

{% block content %}
{% include "default/components/topbar.twig" %}
{% include "default/components/sidebar.twig" %}

<!-- Main Content -->
<main class="main-content">
    {% block page_content %}{% endblock %}
</main>

{% include "default/components/scripts.twig" %}
{% block page_scripts %}{% endblock %}
{% endblock %}
